In [1]:
import pandas as pd
import numpy as np
import scipy 
import sklearn.metrics

In [2]:
results = pd.read_csv('./output-2021-11-12T12:20:47-predictions.csv')

In [3]:
results

      pdbid  real  predicted       set
0      184l  4.72   3.719115  training
1      185l  3.54   3.764836  training
2      186l  4.85   3.796584  training
3      187l  3.37   3.682119  training
4      188l  3.33   3.687332  training
...     ...   ...        ...       ...
16603  7kme  4.40   6.915053      test
16604  7upj  8.49   7.572255      test
16605  8hvp  9.00   5.794628      test
16606  9hvp  8.35   7.299875      test
16607  9icd  3.90   4.987727      test

[16608 rows x 4 columns]

In [4]:
train = results[results['set']=='training']
test = results[results['set']=='test']
validation = results[results['set']=='validation']

In [5]:
    
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

def mse(predictions, targets):
    return ((predictions - targets) ** 2).mean()

def pearson(predictions, targets):
    return scipy.stats.pearsonr(predictions, targets)[0]

def MAE(predictions, targets):
    return sklearn.metrics.mean_absolute_error(targets, predictions)

def SD(predictions, targets):
    return (((targets - predictions) ** 2).sum() / (len(predictions) - 1)) ** 0.5

def performance(predictions, targets):
    print("RMSE ", rmse(predictions, targets))
    print("MSE  ", mse(predictions, targets))
    print("R, p ", pearson(predictions, targets))
    print("MAE  ", MAE(predictions, targets))
    print('SD   ', SD(predictions, targets))

In [6]:
print("testing on fold1")
performance(np.array(test['predicted'].values), np.array(test['real'].values))

testing on fold0
RMSE  1.7524388587839523
MSE   3.0710419537760014
R, p  0.48236186504067224
MAE   1.3763149362699145
SD    1.7525971568610363

In [7]:
performance(np.array(train['predicted'].values), np.array(train['real'].values))

RMSE  1.2914448053530092
MSE   1.6678296852732717
R, p  0.7162816411817726
MAE   1.0086779403617616
SD    1.2915031296075428

In [9]:
# performance(np.array(validation['predicted'].values), np.array(validation['real'].values))