In [1]:
import pandas as pd
import numpy as np
import scipy 
import sklearn.metrics

In [2]:
results = pd.read_csv('./output-2021-11-05T21:18:37-predictions.csv')

In [3]:
results

      pdbid  real  predicted       set
0      10gs  6.40   6.179223  training
1      11gs  5.82   6.134804  training
2      13gs  4.62   5.914137  training
3      1a07  6.40   5.099051  training
4      1a08  5.62   5.842481  training
...     ...   ...        ...       ...
16603  8abp  8.00   4.088580      test
16604  8cpa  9.15   6.235423      test
16605  8gpb  3.60   5.673536      test
16606  966c  7.64   7.247921      test
16607  9abp  8.00   4.091583      test

[16608 rows x 4 columns]

In [4]:
train = results[results['set']=='training']
test = results[results['set']=='test']
validation = results[results['set']=='validation']

In [14]:
    
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

def mse(predictions, targets):
    return ((predictions - targets) ** 2).mean()

def pearson(predictions, targets):
    return scipy.stats.pearsonr(predictions, targets)[0]

def MAE(predictions, targets):
    return sklearn.metrics.mean_absolute_error(targets, predictions)

def SD(predictions, targets):
    return (((targets - predictions) ** 2).sum() / (len(predictions) - 1)) ** 0.5

def performance(predictions, targets):
    print("RMSE ", rmse(predictions, targets))
    print("MSE  ", mse(predictions, targets))
    print("R, p ", pearson(predictions, targets))
    print("MAE  ", MAE(predictions, targets))
    print('SD   ', SD(predictions, targets))

In [15]:
print("testing on fold0")
performance(np.array(test['predicted'].values), np.array(test['real'].values))

testing on fold0
RMSE  1.6370673685304322
MSE   2.6799895691071542
R, p  0.5417635712390687
MAE   1.2943882454044555
SD    1.6372152450826991

In [16]:
performance(np.array(train['predicted'].values), np.array(train['real'].values))

RMSE  1.1965440211733094
MSE   1.431717594605593
R, p  0.7712431691387485
MAE   0.9416640125360634
SD    1.1966034251212756

In [17]:
performance(np.array(validation['predicted'].values), np.array(validation['real'].values))

RMSE  1.4221532600562479
MSE   2.022519895088614
R, p  0.6580417335873755
MAE   1.1143120030784608
SD    1.4228648704385607