In [1]:
import pandas as pd
import numpy as np
import scipy 
import sklearn.metrics

In [2]:
results = pd.read_csv('./output-2021-11-12T22:58:56-predictions.csv')

In [3]:
results

      pdbid  real  predicted       set
0      10gs  6.40   6.234400  training
1      11gs  5.82   5.374477  training
2      13gs  4.62   5.348950  training
3      16pk  5.22   6.183485  training
4      1a07  6.40   6.404623  training
...     ...   ...        ...       ...
16603  8abp  8.00   5.001667      test
16604  8cpa  9.15   9.353009      test
16605  8gpb  3.60   6.374027      test
16606  966c  7.64   8.619876      test
16607  9abp  8.00   4.290082      test

[16608 rows x 4 columns]

In [4]:
train = results[results['set']=='training']
test = results[results['set']=='test']
validation = results[results['set']=='validation']

In [5]:
    
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

def mse(predictions, targets):
    return ((predictions - targets) ** 2).mean()

def pearson(predictions, targets):
    return scipy.stats.pearsonr(predictions, targets)[0]

def MAE(predictions, targets):
    return sklearn.metrics.mean_absolute_error(targets, predictions)

def SD(predictions, targets):
    return (((targets - predictions) ** 2).sum() / (len(predictions) - 1)) ** 0.5

def performance(predictions, targets):
    print("RMSE ", rmse(predictions, targets))
    print("MSE  ", mse(predictions, targets))
    print("R, p ", pearson(predictions, targets))
    print("MAE  ", MAE(predictions, targets))
    print('SD   ', SD(predictions, targets))

In [6]:
print("testing on fold0")
performance(np.array(test['predicted'].values), np.array(test['real'].values))

testing on fold0
RMSE  1.9158428973376518
MSE   3.670454007279128
R, p  0.3395598905269146
MAE   1.5214935386732136
SD    1.9160159557271776

In [7]:
performance(np.array(train['predicted'].values), np.array(train['real'].values))

RMSE  0.7031712118554387
MSE   0.4944497531822464
R, p  0.9332796419419137
MAE   0.5552293716715596
SD    0.7032029684869038

In [8]:
# performance(np.array(validation['predicted'].values), np.array(validation['real'].values))